<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing page</title>
    <link rel="stylesheet" href="../public/assets/css/style2.css">
    <script src="https://kit.fontawesome.com/13230e701c.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav>
        <div class="nav-left">
            <img src="../public/assets/images/logo.png" class="logo">
            <ul>
                <li><img src="../public/assets/images/notification.png"></li>
                <li><img src="../public/assets/images/inbox.png"></li>
                <li><img src="../public/assets/images/video.png"></li>
            </ul>
        </div>
        <div class="nav-right">
            <form action="/home" method="get">
                <div class="search-box">
                    <img src="../public/assets/images/search.png">
                    <input type="search" placeholder="Search By Content" name="searchByContent">
                </div>
            </form>
            <!-- user login icon nav -->
            <div class="nav-user-icon online" onclick="settingsMenuToggle()">
                <img src="<%= dataUser.Profile.profilePicture  %>" alt="">
            </div>

        </div>
        <!-- settings menu -->
        <div class="settings-menu">
            <div id="dark-btn">
                <span></span>
            </div>
            <!-- profile pict di dalem logout-->
            <div class="settings-menu-inner">
                <div class="user-profile">
                    <img src="<%= dataUser.Profile.profilePicture  %>">
                    <div>
                        <p>
                            <%= dataUser.Profile.name %>
                        </p>
                        <a href="/profile/edit/<%= dataUser.id %>">Edit Your Profile</a>
                    </div>
                </div>
                <hr>
                <div class="user-profile">
                    <img src="../public/assets/images/feedback.png">
                    <div>
                        <p>
                            Give Feedback
                        </p>
                        <a href="#">Help us to improve</a>
                    </div>
                </div>
                <hr>
                <div class="setting-links">
                    <img src="../public/assets/images/setting.png" class="settings-icon">
                    <a href="#">Settings & Privacy <img src="../public/assets/images/arrow.png" width="10px"></a>
                </div>
                <div class="setting-links">
                    <img src="../public/assets/images/help.png" class="settings-icon">
                    <a href="#">Help & Support <img src="../public/assets/images/arrow.png" width="10px"></a>
                </div>
                <div class="setting-links">
                    <img src="../public/assets/images/display.png" class="settings-icon">
                    <a href="#">Display & Accessibility <img src="../public/assets/images/arrow.png" width="10px"></a>
                </div>
                <div class="setting-links">
                    <img src="../public/assets/images/logout.png" class="settings-icon">
                    <a href="/logout"> Logout<img src="../public/assets/images/arrow.png" width="10px"></a>
                </div>


            </div>

        </div>
    </nav>

    <div class="container">
        <!-- left sidebar -->
        <div class="left-sidebar">
            <div class="imp-links">
                <a href="#"> <img src="../public/assets/images/news.png">Latest News</a>
                <a href="#"> <img src="../public/assets/images/friends.png">Friends</a>
                <a href="#"> <img src="../public/assets/images/group.png">Group</a>
                <a href="#"> <img src="../public/assets/images/marketplace.png">Marketplace</a>
                <a href="#"> <img src="../public/assets/images/watch.png">Watch</a>
                <a href="">See more</a>
            </div>
            <div class="shorcut-links">
                <p>Your Shortcuts</p>
                <a href="#"> <img src="../public/assets/images/shortcut-1.png">Web Developers</a>
                <a href="#"> <img src="../public/assets/images/shortcut-2.png">Web Design course</a>
                <a href="#"> <img src="../public/assets/images/shortcut-3.png">Full Stack Developer</a>
                <a href="#"> <img src="../public/assets/images/shortcut-4.png">Website Experts</a>

            </div>
        </div>
        <!-- main content -->
        <div class="main-content">

            <div class="story-gallery">
                <div class="story story1">
                    <img src="../public/assets/images/upload.png">
                    <p>Post Story</p>
                </div>
                <div class="story story2">
                    <img src="../public/assets/images/member-1.png">
                    <p>Allison</p>
                </div>
                <div class="story story3">
                    <img src="../public/assets/images/member-2.png">
                    <p>Jackson</p>
                </div>
                <div class="story story4">
                    <img src="../public/assets/images/member-3.png">
                    <p>Samona</p>
                </div>
                <div class="story story5">
                    <img src="../public/assets/images/member-4.png">
                    <p>Dave</p>
                </div>
            </div>

            <div class="write-post-container">
                <div class="user-profile">
                    <img src="<%= dataUser.Profile.profilePicture  %>">
                    <div>
                        <p>
                            <%= dataUser.Profile.name %>
                        </p>
                        <small>Public <i class="fa-solid fa-caret-down"></i></small>
                        <% if(errors) {%>
                            <small style="color: red;">
                                <%= errors %>
                            </small>
                            <% } %>
                    </div>
                </div>
                <!-- post input area -->
                <form action="/home/addPost" method="post" enctype="multipart/form-data">
                    <div class="post-input-container">

                        <textarea rows="3" name="content"
                            placeholder="What's on your mind, <%= dataUser.Profile.genderTitle  %>?"></textarea>
                        <div class="add-post-links">
                            <input type="file" name="imageURL">
                            <button type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- kalau mau nambah post ininya di ikut diloop -->
            <!-- loop dataPost -->
            <% dataPost.forEach(x=> { %>
                <!-- make if statement x.UserId == dataUser.id   -->
                <% if(x.UserId==dataUser.id || dataUser.role=='admin' ) { %>
                    <div class="post-container">
                        <div class="post-row">
                            <div class="user-profile">
                                <img src="<%= x.User.Profile.profilePicture  %>">
                                <div>
                                    <p>
                                        <%= x.User.Profile.name %>
                                    </p>
                                    <span>
                                        <%= x.formattedDate %>
                                    </span>
                                </div>
                            </div>
                            <a href="/home/edit/<%= x.id %>"> <i class="fas fa-ellipsis-v"></i></a>
                        </div>


                        <p class="post-text">
                            <%= x.content %>
                        </p>
                        <% if(x.imageURL !='#' ){ %>
                            <img src="<%= x.imageURL %> " class="post-img">
                            <% } %>
                                <div class="post-row">
                                    <div class="activity-icons">
                                        <div><a href="/home/upVote/<%=x.id %>"><img
                                                    src="../public/assets/images/like-blue.png"></a>
                                            <%= x.vote %>
                                        </div>
                                        <div><a href="/home/downVote/<%=x.id %>"><img
                                                    src="../public/assets/images/oie_108140w1CmWo5J.png"></a>

                                        </div>
                                        <div><a href="/home/delete/<%=x.id %>"><i class="fa-solid fa-trash"></i></a>

                                        </div>

                                    </div>
                                    <div class="post-profile-icon">
                                        <img src="<%= dataUser.Profile.profilePicture  %>"><i
                                            class="fa-solid fa-caret-down"></i>

                                    </div>
                                </div>
                    </div>
                    <% }else { %>
                        <div class="post-container">
                            <div class="post-row">
                                <div class="user-profile">
                                    <img src="<%= x.User.Profile.profilePicture  %>">
                                    <div>
                                        <p>
                                            <%= x.User.Profile.name %>
                                        </p>
                                        <span>
                                            <%= x.formattedDate %>
                                        </span>
                                    </div>
                                </div>
                            </div>


                            <p class="post-text">
                                <%= x.content %>
                            </p>
                            <% if(x.imageURL !='#' ){ %>
                                <img src="<%= x.imageURL %> " class="post-img">
                                <% } %>
                                    <div class="post-row">
                                        <div class="activity-icons">
                                            <div><a href="/home/upVote/<%=x.id %>"><img
                                                        src="../public/assets/images/like-blue.png"></a>
                                                <%= x.vote %>
                                            </div>
                                            <div><a href="/home/downVote/<%=x.id %>"><img
                                                        src="../public/assets/images/oie_108140w1CmWo5J.png"></a>

                                            </div>


                                        </div>
                                        <div class="post-profile-icon">
                                            <img src="<%= dataUser.Profile.profilePicture  %>"><i
                                                class="fa-solid fa-caret-down"></i>

                                        </div>
                                    </div>
                        </div>
                        <%}%>

                            <% }) %>



        </div>
        <!-- right sidebar -->
        <div class="right-sidebar">
            <div class="sidebar-title">
                <h4>Events</h4>
                <a href="#">See All</a>
            </div>
            <div class="event">
                <div class="left-event">
                    <h3>18</h3>
                    <span>March</span>
                </div>
                <div class="right-event">
                    <h4>Social Media</h4>
                    <p><i class="fa-regular fa-location-dot"></i> Willson Tech Park</p>
                    <a href="#">More Info</a>
                </div>
            </div>
            <div class="event">
                <div class="left-event">
                    <h3>22</h3>
                    <span>June</span>
                </div>
                <div class="right-event">
                    <h4>Mobile Marketing</h4>
                    <p><i class="fa-regular fa-location-dot"></i> Tech Park</p>
                    <a href="#">More Info</a>
                </div>
            </div>
            <div class="sidebar-title">
                <h4>Advertisement</h4>
                <a href="#">Close</a>
            </div>
            <img src="../public/assets/images/advertisement.png" class="sidebar-ads">
            <div class="sidebar-title">
                <h4>Conversation</h4>
                <a href="#">Hide Chat</a>
            </div>

            <div class="online-list">
                <div class="online">
                    <img src="../public/assets/images/member-1.png">
                </div>
                <p>Alison Mina</p>
            </div>
            <div class="online-list">
                <div class="online">
                    <img src="../public/assets/images/member-2.png">
                </div>
                <p>Jackson</p>
            </div>
            <div class="online-list">
                <div class="online">
                    <img src="../public/assets/images/member-3.png">
                </div>
                <p>Samona</p>
            </div>
        </div>
    </div>

    <div class="footer">
        <p>Copyright 2022 - SociallBook</p>
    </div>

    <script src="../public/assets/script/2.js"></script>
</body>

</html>