<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile page</title>
    <link rel="stylesheet" href="../public/assets/css/style3.css">
    <script src="https://kit.fontawesome.com/13230e701c.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav>
        <div class="nav-left">
            <a href="/home"><img src="../public/assets/images/logo.png" class="logo"></a>
            <ul>

                <li><img src="../public/assets/images/notification.png"></li>
                <li><img src="../public/assets/images/inbox.png"></li>
                <li><img src="../public/assets/images/video.png"></li>
            </ul>
        </div>

        <div class="nav-right">
            <div class="search-box">
                <img src="../public/assets/images/search.png">
                <input type="text" placeholder="Search">
            </div>
            <div class="nav-user-icon online" onclick="settingsMenuToggle()">
                <img src="/<%=data.Profile.profilePicture %>">
            </div>

        </div>
        <!-- ------dropdown-settings-menu--------- -->
        <div class="settings-menu">
            <div id="dark-btn">
                <span></span>
            </div>
            <div class="settings-menu-inner">
                <div class="user-profile">
                    <img src="/<%=data.Profile.profilePicture %>">
                    <div>
                        <p>
                            <%= data.Profile.name %>
                        </p>
                        <p>
                        </p>
                        <a href="profile.html">See your profile</a>
                    </div>
                </div>
                <hr>
                <div class="user-profile">
                    <img src="../public/assets/images/feedback.png">
                    <div>
                        <p>Give Feedback</p>
                        <a href="">Help us improve the new deisgn</a>
                    </div>
                </div>
                <hr>
                <div class="settings-links">
                    <img src="../public/assets/images/setting.png" class="settings-icon">
                    <a href="">Settings & Privacy <img src="../public/assets/images/arrow.png" width="10px"></a>
                </div>
                <div class="settings-links">
                    <img src="../public/assets/images/help.png" class="settings-icon">
                    <a href="">Help & Support <img src="../public/assets/images/arrow.png" width="10px"></a>
                </div>
                <div class="settings-links">
                    <img src="../public/assets/images/display.png" class="settings-icon">
                    <a href="">Display & Accessibility <img src="../public/assets/images/arrow.png" width="10px"></a>
                </div>
                <div class="settings-links">
                    <img src="../public/assets/images/logout.png" class="settings-icon">
                    <a href="">Logout <img src="../public/assets/images/arrow.png" width="10px"></a>
                </div>
            </div>

        </div>
    </nav>

    <!-- ----profile page --------- -->

    <div class="profile-container">
        <img src="../public/assets/images/cover.png" class="cover-img">
        <div class="profile-details">
            <div class="pd-left">
                <div class="pd-row">
                    <!-- show data profilePicture -->
                    <img src="/<%= data.Profile.profilePicture %>" class="pd-image">
                    <div>
                        <p>120 Friends - 20 mutual</p>
                        <img src="../public/assets/images/member-1.png">
                        <img src="../public/assets/images/member-2.png">
                        <img src="../public/assets/images/member-3.png">
                        <img src="../public/assets/images/member-4.png">
                    </div>
                </div>
            </div>
            <div class="pd-right">

                <button type="button"><img src="../public/assets/images/add-friends.png"> Friend</button>
                <button type="button"><img src="../public/assets/images/message.png"> Message</button>
                <br>
                <a href=""><img src="../public/assets/images/more.png"></a>
            </div>
        </div>

        <div class="profile-info">
            <div class="info-col">

                <div class="profile-intro">
                    <h3>Intro</h3>
                    <p class="intro-text">
                        <%= data.Profile.aboutMe %> <img src="../public/assets/images/feeling.png">
                    </p>
                    <hr>
                    <ul>
                        <li><img src="../public/assets/images/profile-job.png"> Director at 99media Ltd</li>
                        <li><img src="../public/assets/images/profile-study.png"> Studied at Amity University</li>
                        <li><img src="../public/assets/images/profile-study.png"> Went to DPS Delhi</li>
                        <li><img src="../public/assets/images/profile-home.png"> Lives in Bangalore, India</li>
                        <li><img src="../public/assets/images/profile-location.png"> From Bangalore, India</li>
                    </ul>
                </div>

                <div class="profile-intro">
                    <div class="title-box">
                        <h3>Photos</h3>
                        <a href="">All Photos</a>
                    </div>

                    <div class="photo-box">
                        <div><img src="../public/assets/images/photo1.png"></div>
                        <div><img src="../public/assets/images/photo2.png"></div>
                        <div><img src="../public/assets/images/photo3.png"></div>
                        <div><img src="../public/assets/images/photo4.png"></div>
                        <div><img src="../public/assets/images/photo5.png"></div>
                        <div><img src="../public/assets/images/photo6.png"></div>
                    </div>
                </div>

                <div class="profile-intro">
                    <div class="title-box">
                        <h3>Friends</h3>
                        <a href="">All User</a>
                    </div>
                    <p>
                        <%= data2.length %> User
                    </p>
                    <% data2.forEach(x=>{%>


                        <div class="friends-box">
                            <div><img src="/<%= x.Profile.profilePicture %>">
                                <a href="/profile/chat/<%= data.id %>/<%= x.id %>">
                                    <p>
                                        <%= x.Profile.name %>
                                    </p>
                                </a>
                            </div>

                        </div>
                        <%}) %>
                </div>





            </div>



            <div class="post-col">
                <div class="write-post-container">
                    <div class="user-profile">
                        <img src="/<%= data.Profile.profilePicture %>">
                        <div>
                            <p>
                                <%= data.Profile.name %>
                            </p>
                            <small>
                                <%= data.role %> <i class="fas fa-caret-down"></i>
                            </small>
                        </div>
                    </div>

                    <div class="post-input-container">
                        <textarea rows="3" placeholder="What's on your mind, Jack?"></textarea>
                        <div class="add-post-links">
                            <a href="#"><img src="../public/assets/images/live-video.png"> Live Video</a>
                            <a href="#"><img src="../public/assets/images/photo.png"> Photo/Video</a>
                            <a href="#"><img src="../public/assets/images/feeling.png"> Feeling/Activity</a>
                        </div>
                    </div>
                </div>


                <% data.Posts.forEach(x=>{ %>
                    <div class="post-container">
                        <div class="post-row">
                            <div class="user-profile">
                                <img src="/<%= data.Profile.profilePicture %>">

                                <div>
                                    <p>
                                        <%= data.Profile.name %>
                                    </p>
                                    <span>
                                        <%= x.formattedDate %>
                                    </span>
                                </div>
                            </div>
                            <a href="/home/edit/<%= x.id %>"> <i class="fas fa-ellipsis-v"></i></a>
                        </div>


                        <p class="post-text">
                            <%= x.content %>
                        </p>
                        <% if(x.imageURL !='#' ){ %>
                            <img src="<%= x.imageURL %> " class="post-img">
                            <% } %>
                                <div class="post-row">
                                    <div class="activity-icons">
                                        <div><a href="/home/upVote/<%=x.id %>"><img
                                                    src="../public/assets/images/like-blue.png"></a>
                                            <%= x.vote %>
                                        </div>
                                        <div><a href="/home/downVote/<%=x.id %>"><img
                                                    src="../public/assets/images/oie_108140w1CmWo5J.png"></a>

                                        </div>
                                        <div><a href="/home/delete/<%=x.id %>"><i class="fa-solid fa-trash"></i></a>

                                        </div>

                                    </div>
                                    <div class="post-profile-icon">
                                        <img src="/<%= data.Profile.profilePicture  %>"><i
                                            class="fa-solid fa-caret-down"></i>

                                    </div>
                                </div>
                    </div>
                    <% }) %>
            </div>
        </div>



    </div>






    <div class="footer">
        <p>Copyright 2022 </p>
    </div>

    <script src="../public/assets/script/2.js"></script>
</body>

</html>